@mixin media-max($w) {
  @media only screen and (max-width: $w) {
    @content;
  }
}

@mixin media-min($n) {
  @media only screen and (min-width: $n) {
    @content;
  }
}

@mixin media-h($h) {
  @media only screen and (max-height: $h) {
    @content;
  }
}

@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}

@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}

@mixin l-clamp($r) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: $r;
}