.fountain {
  &__top {
    margin-bottom: 80px;

    @include media-max($md) {
      margin-bottom: 60px;
    }

    @include media-max($sm) {
      margin-bottom: 40px;
    }

    @include media-max($xs) {
      margin-bottom: 20px;
    }
  }

  &__images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 270px 270px;
    grid-gap: 30px;

    @include media-max($sm) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 220px 220px 220px;
    }

    @include media-max($xs) {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(5, 220px);
    }
  }

  &__image {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    overflow: hidden;

    &--wide {
      grid-column: span 2;

      @include media-max($sm) {
        
        order: 1;
      }

      @include media-max($xs) {
        grid-column: span 1;
      }
    }
  }
}