.index-top {
  background-size: cover;
  background-position: bottom center;
  text-align: right;

  &__title {
    max-width: 430px;
    margin-left: auto;
    padding: 280px 0 400px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 72px;
    color: $accentDark;

    @include media-max($lg) {
      padding: 200px 0 300px;
      font-size: 60px;
    }

    @include media-max($md) {
      max-width: 300px;
      padding: 150px 0 250px;
      font-size: 48px;
    }

    @include media-max($sm) {
      max-width: 240px;
      padding: 100px 0 170px;
      font-size: 36px;
    }

    @include media-max($xs) {
      text-align: right;
      font-size: 30px;
    }
  }

  &__text {
    display: block;
    @include media-max($xs) {
      text-align: right;
    }

    &:not(:last-child) {
      margin-bottom: 5px;
    }

    &:last-child {
      padding-left: 70px;

      @include media-max($xs) {
        padding: 0;
      }
    }

    &:nth-child(2) {
      padding-left: 35px;

      @include media-max($xs) {
        padding: 0;
      }
    }
  }
}