.footer {
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  line-height: 1.8;
  color: $greyLight;

  &__top {
    padding: 60px 0 25px;
    background-color: #222;
  }

  &__body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include media-max($sm) {
     display: grid;
     grid-template-columns: 50% minmax(200px, 50%);
    }

    @include media-max($xs) {
      display: grid;
      grid-template-columns: 100%;
     }
  }

  &__contact {

  }

  &__title {
    display: inline-block;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 1;
    color: #fff;
  }

  &__links {
    width: 130px;
    margin-bottom: 15px;
  }

  &__map {
    max-width: 270px;
    height: 170px;
    border-radius: 20px;
  }

  &__iframe {
    width: 100%;
    height: 170px;
    border-radius: 4px;
  }

  &__bottom {
    padding: 30px 0 20px;
    background-color: #181818;
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    text-transform: uppercase;
  }

  &__author {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 14px;
    
    svg {
      width: 14px;
      height: 14px;
      margin: 0 6px;
      fill: #85af4b;
    }

    @include media-max($sm) {
      order: 1;
     }
  }
}

.contact-footer {
  width: 205px;
  margin-bottom: 15px;

  &__address {
    margin-bottom: 25px;
  }

  &__link {
    display: inline-block;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

.social {
  display: flex;

  &__item {
    &:not(:last-child) {
      margin-right: 7px;
    }
  }

  &__link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;

    svg {
      width: 18px;
      height: 18px;
      fill: #fff;
    }

    &--twitter {
      background-color: #33ccff;
    }

    &--facebook {
      background-color: #365493;
    }

    &--google {
      background-color: #d44132;
    }

    &--pinterest {
      background-color: #cb2027;
    }
  }
}

.time {
  width: 200px;
  margin-bottom: 15px;

  &__item {
    &:not(:last-child) {
      margin-bottom: 7px;
    }
  }

  &__day {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 90px;
    margin-right: 20px;

    &::after {
      @extend %bg-pseudo;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      width: 4px;
      height: 8px;
      fill: #fff;
      background-image: url('../img/footer-arrow-right.png');
    }
  }
}

.menu-footer {
  flex: 0 1 500px;
  margin-bottom: 10px;
  color: $grey;

  &__body{

  }

  &__list {
    display: flex;
    justify-content: space-between;

    @include media-max($xs) {
      display: block;
    }
  }

  &__item {
    &:not(:last-child) {
      @include media-max($xs) {
        margin-bottom: 10px;
      }
    }

  }

  &__link {
    font-weight: 600;
    transition: color 0.4s;

    &:hover {
      color: #fff;
    }
  }
}