.logo {
  position: relative;

  &__img {
    width: 60px;
    height: 63px;
    object-fit: contain;
    object-position: center;
  }
}

.burger {
  position: relative;
  z-index: 2;
  width: 44px;
  height: 44px;
  border: none;
  background-color: transparent;

  span {
    position: absolute;
    top: calc(50% - 2px);
    right: 0;
    height: 4px;
    width: 100%;
    background-color: $accent;
    border-radius: 2px;
    box-shadow: 0 1px 3px #000;
    transition: width 0.4s;

    &:first-child {
      top: 5px;
    }

    &:last-child {
      width: 70%;
      top: auto;
      bottom: 5px;
    }
  }

  &._active {
    span {
      width: 70%;

      &:last-child {
        width: 100%;
      }
    }
  }

  @include media-min(769px) {
    display: none;
  }
}

.btn-blue {
  position: relative;
  display: inline-block;
  overflow: hidden;
  padding: 11px 40px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  border: none;
  border-radius: 20px;
  background-color: $accent;
  clip-path: circle(100% at 50% 50%);
  transition: background-color 0.4s, color 0.4s, box-shadow 0.4s, transform 0.3s;

  &::before {
    position: absolute;
    z-index: -1;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: rgba(#fff, 0.4);
    clip-path: circle(0 at 0 -50px);
    transition: clip-path 0.2s;
  }

  &:focus {
    box-shadow: 0 0 3px 2px $accent;
  }

  &:hover {
    color: $greyDark;
    &::before {
      clip-path: circle(180% at 0 -50px);
    }
  }

  &:active {
    transform: translateY(2px) scale(0.98);
  }
}

.section-title {
  font-weight: 300;
  font-size: 48px;
  line-height: 1;
  color: $accent;
  text-transform: capitalize;

  @include media-max($md) {
    font-size: 42px;
  }
  @include media-max($xs) {
    font-size: 24px;
  }
}

.section-padding {
  padding: 115px 0;

  @include media-max($lg) {
    padding: 90px 0;
  }

  @include media-max($md) {
    padding: 70px 0;
  }

  @include media-max($sm) {
    padding: 50px 0;
  }

  @include media-max($xs) {
    padding: 30px 0;
  }
}

.section-flower {
  position: relative;

  &::before {
    @extend %bg-pseudo;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 135px;
    height: 112px;
    background-position: top;
    background-image: url('../img/section-flower-top.png');

    @include media-max($lg) {
      height: 90px;
    }

    @include media-max($md) {
      height: 70px;
    }

    @include media-max($sm) {
      height: 50px;
    }

    @include media-max($xs) {
      height: 30px;
    }
  }
}

.slider-arrows {
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: space-between;
  width: calc(100% + 100px);
  transform: translate(-50px, -50%);

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: transparent;
    border: none;
    transition: transform 0.4s;

    svg {
      width: 20px;
      height: 35px;
      fill: $grey;
      transition: fill 0.4s;
    }
    

    &--prev {
      svg {
      transform: rotate(180deg);
      }
    }

    &--next {
      
    }

    &:focus {
      transform: scale(1.2);
    }

    &:hover {
      svg {
        fill: $accent;
      }
    }
  }

  
}