<section class="classes section-padding section-flower @@bg" style="background-image: url('img/classes-bg.jpg');">
  <div class="container">
    <h2 class="classes__title section-title">@@title</h2>
    <div class="classes__wrapper">
      <div class="classes__slider swiper-container">
        <div class="classes__wrapper swiper-wrapper">
          <div class="classes__slide swiper-slide">
            @@include('../cards/_class-card.html')
          </div>

          <div class="classes__slide swiper-slide">
            @@include('../cards/_class-card.html')
          </div>

          <div class="classes__slide swiper-slide">
            @@include('../cards/_class-card.html')
          </div>

          <div class="classes__slide swiper-slide">
            @@include('../cards/_class-card.html')
          </div>

          <div class="classes__slide swiper-slide">
            @@include('../cards/_class-card.html')
          </div>
        </div>
      </div>

      <div class="classes__arrows slider-arrows">
        <button class="slider-arrows__btn slider-arrows__btn--prev classes-prev">
          <svg>
            <use xlink:href="img/icons.svg#right-slider"></use>
          </svg>
        </button>
        <button class="slider-arrows__btn slider-arrows__btn--next classes-next">
          <svg>
            <use xlink:href="img/icons.svg#right-slider"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>