<footer class="footer">
  <div class="footer__top">
    <div class="container">
      <div class="footer__body">
        <div class="footer__contact contact-footer">
          <span class="contact-footer__title footer__title">Contact Us</span>
          <div class="contact-footer__box">
            <address class="contact-footer__address">
              <a class="contact-footer__link" href="#">
                PO Box 16122 Collins Street West,
                Victoria 8007 Australia
              </a>
              <a class="contact-footer__link" href="mailto:Alitstudios@gmai.com">
                Alitstudios@gmai.com
              </a>
              <a class="contact-footer__link" href="tel:61383766284">
                +61 3 8376 6284
              </a>
            </address>

            <ul class="footer__social social">
              <li class="social__item">
                <a class="social__link social__link--twitter" href="#">
                  <svg>
                    <use xlink:href="img/icons.svg#twitter"></use>
                  </svg>
                </a>
              </li>

              <li class="social__item">
                <a class="social__link social__link--facebook" href="#">
                  <svg>
                    <use xlink:href="img/icons.svg#facebook"></use>
                  </svg>
                </a>
              </li>

              <li class="social__item">
                <a class="social__link social__link--google" href="#">
                  <svg>
                    <use xlink:href="img/icons.svg#google"></use>
                  </svg>
                </a>
              </li>

              <li class="social__item">
                <a class="social__link social__link--pinterest" href="#">
                  <svg>
                    <use xlink:href="img/icons.svg#pinterest"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>

        <div class="footer__links links">
          <span class="footer__title">Useful Links</span>

          <ul class="links__list">
            <li class="links__item">
              <a class="links__link" href="#">About Us</a>
            </li>
            <li class="links__item">
              <a class="links__link" href="#">Advertise</a>
            </li>
            <li class="links__item">
              <a class="links__link" href="#">Terms & Conditions</a>
            </li>
            <li class="links__item">
              <a class="links__link" href="#">Privacy Policy</a>
            </li>
            <li class="links__item">
              <a class="links__link" href="#">Careers</a>
            </li>
            <li class="links__item">
              <a class="links__link" href="#">Shop</a>
            </li>

          </ul>
        </div>

        <div class="footer__time time">
          <span class="footer__title">Open Hours</span>
          <ul class="time__list">
            <li class="time__item">
              <span class="time__day">Monday</span>
              <span class="time__hours">11am - 12pm</span>
            </li>

            <li class="time__item">
              <span class="time__day">Tuesday</span>
              <span class="time__hours">11am - 12pm</span>
            </li>

            <li class="time__item">
              <span class="time__day">Wednesday</span>
              <span class="time__hours">11am - 12pm</span>
            </li>

            <li class="time__item">
              <span class="time__day">Thursday</span>
              <span class="time__hours">11am - 12pm</span>
            </li>

            <li class="time__item">
              <span class="time__day">Friday</span>
              <span class="time__hours">11am - 12pm</span>
            </li>

            <li class="time__item">
              <span class="time__day">Saturday</span>
              <span class="time__hours">11am - 12pm</span>
            </li>

            <li class="time__item">
              <span class="time__day">Sunday</span>
              <span class="time__hours">11am - 12pm</span>
            </li>
          </ul>
        </div>

        <div class="footer__loction">
          <span class="footer__title">Our Location</span>

          <div class="footer__map">
            <iframe class="footer__iframe"
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1874.0595555869563!2d144.95636192082625!3d-37.818623522926345!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x35859ca71aa3a787!2sNellai%20ENT%20Care!5e0!3m2!1sru!2sua!4v1624538796326!5m2!1sru!2sua"
              style="border:0;" allowfullscreen=""></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="container">
      <div class="footer__inner">
        <div class="footer__author author-footer">
          <span class="author-footer__text">built with</span>
          <svg>
            <use xlink:href="img/icons.svg#heart"></use>
          </svg>
          <span class="author-footer__text">wp theme by alitstudio</span>
        </div>
        <div class="footer__menu menu-footer">
          <nav class="menu-footer__body">

            <ul class="menu-footer__list">
              <li class="menu-footer__item">
                <a class="menu-footer__link" href="#">Home</a>
              </li>
              <li class="menu-footer__item">
                <a class="menu-footer__link" href="#">Pages</a>
              </li>
              <li class="menu-footer__item">
                <a class="menu-footer__link" href="#">Shortcodes</a>
              </li>
              <li class="menu-footer__item">
                <a class="menu-footer__link" href="#">Features</a>
              </li>
              <li class="menu-footer__item">
                <a class="menu-footer__link" href="#">Blog</a>
              </li>
              <li class="menu-footer__item">
                <a class="menu-footer__link" href="#">Portfolio</a>
              </li>
              <li class="menu-footer__item">
                <a class="menu-footer__link" href="#">Shop</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</footer>