<div class="subscribe">
  <div class="container">
    <div class="subscribe__body">
      <a class="subscribe__logo logo" href="#">
        <img class="logo__img" src="img/logo-white.png" alt="logo">
      </a>

      <div class="subscribe__box">
        <div class="subscribe__content">
          <div class="subscribe__title">
            Subscribe
          </div>

          <div class="subscribe__text">
            To receive the lastest freebies in your inbox
          </div>
        </div>

        <form class="subscribe__form form-subscribe" action="#">
          <label class="form-subscribe__label">
            <span class="sr-only">Type your email address</span>
            <input class="form-subscribe__input" type="email" name="email" placeholder="Your Address Email" required>
          </label>

          <button class="form-subscribe__btn btn-blue" type="submit">
            subscribe
          </button>
        </form>
      </div>
    </div>
  </div>
</div>